<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- 崩溃展示（必须在独立进程） -->
        <activity
            android:name="io.core.common.base.component.activity.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <activity
            android:name="io.core.common.base.component.activity.CrashSameProcessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />

        <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name="io.core.common.base.component.activity.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" />

        <provider
            android:name="io.core.CoreFileProvider"
            android:authorities="${applicationId}.fycore.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/core_provider_paths" />
        </provider>
    </application>
</manifest>